{{page-title "About"}}

<LinkTo class="mx-6 p-2 border-b-4 border-transparent" @route="index">Home</LinkTo>
<span class="mx-6 p-2 border-b-4 border-blue-500 ">About</span>
<LinkTo class="mx-6 p-2 border-b-4 border-transparent" @route="more">More stuff</LinkTo>

<h1 class="text-3xl font-bold my-4">About this app</h1>
