{{page-title "Index"}}

<span class="mx-6 p-2 border-b-4 border-blue-500">Home</span>
<LinkTo class="mx-6 p-2 border-b-4 border-transparent" @route="about">About</LinkTo>
<LinkTo class="mx-6 p-2 border-b-4 border-transparent" @route="more">More stuff</LinkTo>

<h1 class="text-3xl font-bold my-4">Welcome</h1>
