{{page-title "More stuff"}}

<LinkTo class="mx-6 p-2 border-b-4 border-transparent" @route="index">Home</LinkTo>
<LinkTo class="mx-6 p-2 border-b-4 border-transparent" @route="about">About</LinkTo>
<span class="mx-6 p-2 border-b-4 border-blue-500 ">More stuff</span>

<h1 class="text-3xl font-bold my-4">Here is more</h1>
